{% extends 'maker/layout.html' %}

{% block content %}


   <div class="wrapper">

      <h1>Are you too lazy to type long URLs?<br> Get a short one here:</h1>

      <form method="POST" id="url-to-change">
         {% csrf_token %}
         {{ form.as_p }}
         <input id="submit-bttn" type="submit" value="Get short URL">
      </form>
  
      {% if result_not_exist  %}

      <p>New short URL: <a id="url-result" target='_blank'  href= 'http://localhost:8000/{{result_not_exist.alias}}'>http://localhost:8000/{{result_not_exist.alias}}</a></p>
      <button id="copy-url-btn" onclick=copyURL()>Copy URL</button>
            

      {% elif result_exist %}

      <p>We alredy have it: <a id="url-result" target='_blank'  href= 'http://localhost:8000/{{result_exist.alias}}'>http://localhost:8000/{{result_exist.alias}}</a></p>
      <button id="copy-url-btn" onclick=copyURL()>Copy URL</button>
      
      {% endif %}
      
   </div>


{% endblock %}
