{% extends 'maker/layout.html' %}

{% block content %}


   <div class="wrapper">

      <h1>Are you too lazy to type long URLs?<br> Get a short one here:</h1>

      <form method="POST" id="url-to-change">
         {% csrf_token %}
         {{ form.as_p }}
         <input id="submit-bttn" type="submit" value="Get short url">
      </form>
  
      {% if result %}

      {% comment %} <p>New short URL: <a href=""><span id="url-resutl">http://localhost:8000/sh/{{result.alias}}</span></p> {% endcomment %}
      <p>New short URL: <a id="url-resutl" target='_blank'  href= 'http://localhost:8000/{{result.alias}}'>http://localhost:8000/{{result.alias}}</a></p>
      {% endif %}
   </div>

{% endblock %}
