{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="https://images.vexels.com/media/users/3/196222/isolated/preview/3a2b6bb9ff043cef0ae48826a53d036b-lindo-trazo-de-pereza-by-vexels.png">
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
   <title>URL Shortener</title>
</head>

<body>

   <main> 
      {% block content %}
      {% endblock content %}
   </main>

   <script  src="{% static 'js/index.js' %}"></script>
</body>
   
</html>
